:host ::ng-deep ng2-st-tbody-edit-delete {  height: 0 !important; }
  :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom { display: inline-block; width: 125px; text-align: center; font-size: 1.1em;padding-top:5px;color:slategray; } 
  :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover { color: royalblue; }
 